.calendar-body {
  display: flex;
  flex-wrap: wrap;

  & > view {
    position: relative;
    height: 3rem;
    width: 14.28%;
    padding-top: 10rpx;
    box-sizing: border-box;
    color: #828ba6;
    font-size: 1rem;
  }
}

// 分割线
.calendar-line-divider {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.calendar-date {
  width: 46rpx;
  height: 46rpx;
  margin: 0 auto;
  text-align: center;
  line-height: 46rpx;
}

// 选中样式
.calendar-selected > .calendar-date {
  background-color: #90b1ef;
  border-radius: 50%;
  color: white;
}

// 范围选择
.calendar-range > .calendar-date {
  background-color: #90b1ef;
  color: white;
}

// 范围选择起点
.calendar-range-end > .calendar-date {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// 范围选择终点
.calendar-range-start > .calendar-date {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

// 当天
.calendar-today {
  font-weight: bold;
}

// 非本月
.not-this-month {
  color: #e2e5e8 !important;
}

// 农历
.lunar-day {
  text-align: center;
  font-size: 2.5vw;
  opacity: 0.7;
}

// 农历初一
.lunar-month {
  text-decoration-color: red;
  text-decoration-line: underline;
}

// 标记
.calendar-marked > .calendar-mark {
  position: absolute;
  right: 0;
  top: 3vw;
  background-color: #7096e0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

// 额外信息
.calendar-extra-info {
  position: absolute;
  right: 0;
  font-size: 2.3vw;
  top: 0rem;
  color: #FF9800;
}

// 标记信息
.calendar-badge-info {
  display: flex;
  flex-direction: column;
  width: 100%;

  .calendar-badge-item {
    margin-bottom: 10rpx;
  }
}
